[submodule "external/nanogui"]
	path = external/nanogui
	url = https://github.com/wjakob/nanogui.git
[submodule "external/bwgl"]
	path = external/bwgl
	url = https://github.com/bwiberg/bwgl.git
[submodule "external/lodepng"]
	path = external/lodepng
	url = https://github.com/lvandeve/lodepng.git
[submodule "external/soil"]
	path = external/soil
	url = https://github.com/bwiberg/Simple-OpenGL-Image-Library.git
[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json.git
